<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            body {
                background-color: cornflowerblue;
                background-image: url("static/bg.jpg");
                background-size: cover;
            }
            a {
                color: white;
                font-size: x-large;
            }
        </style>
    </head>
    <body>
        <a href="/shortcuts"><h2>Shortcuts</h2></a>
        <a href="/formulas"><h2>Formulas</h2></a>
    </body>
</html>